body {
  font-family: Arial, sans-serif;
  background-color: #fbe3e3;
  margin: 0;
  padding: 20px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #c2185b;
  text-align: center;
  margin-bottom: 40px;
}

.malla-grid {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  padding: 10px;
  justify-content: flex-start;
}

.semestre {
  min-width: 220px;
  background-color: #f6c8c7;
  border: 2px solid #f48fb1;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.semestre h2 {
  text-align: center;
  color: #ad1457;
  font-size: 1.1em;
  margin-bottom: 12px;
  border-bottom: 1px solid #ec9fb9;
  padding-bottom: 6px;
}

.ramo {
  background: linear-gradient(145deg, #f8bbd0, #ec9fb9);
  border: 1px solid #c2185b;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
  color: #880e4f;
  font-weight: 600;
  /* Sombra para efecto 3D */
  box-shadow: 4px 4px 8px #c28aa2, -4px -4px 8px #ffcee1;
  transition: all 0.3s ease;
  user-select: none;
}

.ramo:hover {
  background: linear-gradient(145deg, #f48fb1, #e47c9d);
  box-shadow: 6px 6px 10px #b67288, -6px -6px 10px #ffbed4;
  color: #5c0040;
  transform: translateY(-3px);
}

.ramo:active {
  box-shadow: inset 3px 3px 5px #b67288, inset -3px -3px 5px #ffbed4;
  transform: translateY(1px);
}


.ramo.bloqueado {
  background: #f3f3f3 !important;
  color: #515151;
  border-style: dashed;
  cursor: not-allowed;
  box-shadow: none;
}

.ramo.aprobado {
  background: linear-gradient(145deg, #d1bee7, #b695d3) !important;
  color: #4a148c;
  border-color: #6a1b9a;
  text-decoration: line-through;
  font-style: italic;
  box-shadow: 4px 4px 8px #8a69a2, -4px -4px 8px #c6aee1;
}





.controls {
    margin: 20px 0;
    text-align: center;
}

#clearButton {
    background-color: #cc406f;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
}
#clearButton:hover {
  background: linear-gradient(145deg, #c9245b, #d93b3b);
  box-shadow: 6px 6px 10px #c75c7e, -6px -6px 10px #f790b2;
  color: #ffffff;
  transform: translateY(-3px);
}


/* Leyenda */
.leyenda {
    margin: 15px 0;
    padding: 10px;
    background: #f7f7f7;
    border-radius: 10px;
    width: fit-content;
    font-family: 'Poppins', sans-serif;
    color: #515151;
}



.leyenda p {
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.color {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 5px;
    margin-right: 8px;
    border: 1px solid #aaa;
}

.color.aprobado { background: linear-gradient(145deg, #d1bee7, #b695d3);border-color: #6a1b9a; }
.color.disponible {  background: linear-gradient(145deg, #f8bbd0, #ec9fb9);border-color: #c2185b; }
.color.bloqueado { background-color: #e0e0e0;border-color: #515151; }